html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

button,
a,
#ast-scroll-top {
  border-radius: 5px;
  transition: all 400ms ease-in-out;
}

a.menu-link {
  transition: all .4s ease-in-out !important;
}

button:focus,
a:focus,
input:focus {
  outline: none !important;
}

h1.entry-title {
  display: none;
}
