html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard */
}

button,
a,
#ast-scroll-top {
  border-radius: 5px;
  transition: all 400ms ease-in-out;
}

a.menu-link {
  transition: all 0.4s ease-in-out !important;
}

button:focus,
a:focus,
input:focus {
  outline: none !important;
}

h1.entry-title {
  display: none;
}

/* Footer Styling */
.footer-small {
  white-space: nowrap;
}

.footer-socials .wp-social-link {
  background: #168d3c !important;
  border: 1px solid #e2f633;
  padding: 5px;
  border-radius: 5px;
  transition: all 400ms ease-in-out;
}

.footer-socials .wp-social-link:hover {
  cursor: pointer;
  box-shadow: 0 0 2px #e2f633;
}

.footer-socials .wp-social-link a {
  color: #e2f633 !important;
}

#dev_link {
  color: #e2f633;
  font-weight: 600;
}

#dev_link:hover {
  text-decoration: underline #e2f633 solid 1px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: fit-content;
}

.footer-links h4 {
  color: #e2f633;
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
}

.footer-links a:hover,
.footer-links a.active {
  color: #e2f633;
}
